body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: white;
    color: #7d1616;


}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: ffffff;
    box-shadow: 0 2px 10px rgba(98, 10, 10, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;

}

.from-container {
    background-color: #191f73;
    color: white;
    padding: 60px 10%;
    text-align: left;

}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.buttons {
    font-size: 2.5rem;
    line-height: 1.3;
}

.from-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 80px 10%;
    gap: 40px;

}